@keyframes blinking-dot {
  000% {
    opacity: 0.2; }
  020% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }
html {
  box-sizing: border-box; }
  html *, html *:after, html *:before {
    box-sizing: inherit; }

body {
  margin: 0;
  padding: 0 20px;
  background-color: #EEE;
  font-family: sans-serif;
  font-size: large;
  height: 100%; }

.blinking-dots span {
  animation: blinking-dot 0.9s infinite;
  animation-fill-mode: both; }
.blinking-dots span:nth-child(2) {
  animation-delay: 0.3s; }
.blinking-dots span:nth-child(3) {
  animation-delay: 0.6s; }

fieldset {
  background-color: white;
  border: 2px solid #FE5368;
  margin: 20px 0; }
  fieldset legend {
    color: white;
    background-color: #FE5368;
    font-weight: bold;
    font-size: small;
    padding: 2px 0.5em; }
  fieldset label {
    display: flex; }
    fieldset label input[type="text"],
    fieldset label input[type="url"] {
      flex: 1; }
  fieldset input, fieldset button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    color: gray; }
    fieldset input:focus, fieldset input:hover, fieldset button:focus, fieldset button:hover {
      outline: none;
      color: black; }
  fieldset button:focus, fieldset button:hover {
    cursor: pointer; }
  fieldset > button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0; }

.select-format {
  max-height: 10em;
  overflow-y: scroll; }
  .select-format table {
    width: 100%;
    border-collapse: collapse; }
    .select-format table th {
      font-size: small;
      text-transform: uppercase;
      text-align: left;
      padding: 10px;
      color: #FE5368;
      border-bottom: 2px solid #FE5368; }
    .select-format table tbody tr td {
      font-size: medium;
      vertical-align: middle;
      padding: 10px;
      border-bottom: 2px solid #e1e1e1; }
    .select-format table tbody tr:not(.selected):not(.message):hover {
      background-color: #e1e1e1;
      cursor: pointer; }
    .select-format table tbody tr.selected td {
      color: white;
      background-color: #FE5368;
      border-color: #FE5368; }
    .select-format table tbody tr:last-child td {
      border-bottom: none; }

div.info {
  margin: 20px 0;
  display: flex; }
  div.info button {
    background-color: #FE5368;
    border: none;
    border-bottom: 2px solid #ea011e;
    color: white;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    padding: 10px;
    outline: none; }
    div.info button:hover, div.info button:focus {
      cursor: pointer;
      background-color: #fe6c7e; }
    div.info button:active {
      border-bottom: none;
      border-top: 2px solid #EEE; }
  div.info > div {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 38px;
    border: 2px solid #FE5368;
    background-color: #FE5368;
    color: white;
    margin: 0;
    margin-left: 20px; }
    div.info > div p {
      margin: 0;
      padding: 10px; }
    div.info > div img {
      height: 100%;
      max-height: 4em;
      background-color: #EEE; }

button[type="submit"] {
  background-color: #FE5368;
  border: none;
  border-bottom: 2px solid #ea011e;
  color: white;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  padding: 10px;
  outline: none;
  width: 100%; }
  button[type="submit"]:hover, button[type="submit"]:focus {
    cursor: pointer;
    background-color: #fe6c7e; }
  button[type="submit"]:active {
    border-bottom: none;
    border-top: 2px solid #EEE; }

#downloading {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black; }
  #downloading .background, #downloading .foreground {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  #downloading .background {
    background-size: cover;
    background-position: center center;
    -webkit-filter: blur(10px);
    filter: blur(10px); }
  #downloading .foreground {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    #downloading .foreground > div {
      width: 50%; }
    #downloading .foreground output {
      display: block;
      font-size: large;
      color: white;
      margin-bottom: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      line-height: 1.5em; }
      #downloading .foreground output p {
        margin: 0; }
  #downloading .progressbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    height: 4px; }
    #downloading .progressbar .value {
      position: absolute;
      z-index: 1;
      background-color: #FFF;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0%;
      box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
      transition: 1s ease-out; }

/*# sourceMappingURL=style.css.map */
